body {
  padding: 100px;
  max-width: 960px;
  margin: 0 auto;
}

#chartArea {
  padding: 20px;
  background-color: gainsboro;
  width: 500px;
  height: 400px;
  border: 1px solid black;
}

.bar {
  display: inline-block;
  margin-right: 2px;
}

.bubble {
  fill-opacity: 0.5;
  stroke: black;
  fill: teal;
}

.active {
  fill: magenta;
  fill-opacity: 0.7;
  stroke: yellow;
  stroke-width: 3px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

path {
  /*fill: none;
  stroke: steelblue;
  stroke-width: 3px;*/

  fill: purple;
  fill-opacity: 0.7;
}
